.tag {
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 1;
  margin: 0;

  &--size {
    &-s {
      font-size: 13px;
    }

    &-m {
      font-size: 15px;
    }
  }

  &--color {
    &-red {
      background-color: var(--background-red);
      color: var(--content-white);
      font-weight: 500;
    }

    &-green {
      background-color: var(--background-green-light);
      color: var(--content-green);
      font-weight: 500;
    }

    &-primary {
      background-color: none;
      color: var(--content-primary);
      border: 1px solid var(--background-primary);
    }
  }
}
