.tag {
  display: inline-block;
  padding: 5px 10px;
  margin-right: 5px;
  margin-top: 5px;
  border-radius: 5px;
  line-height: 1;

  &--size {
    &-s {
      font-size: 12px;
    }

    &-m {
      font-size: 14px;
    }
  }

  &--color {
    &-red {
      background-color: var(--background-red);
      color: var(--content-white);
      font-weight: bold;
    }

    &-green {
      background-color: var(--background-green-light);
      color: var(--content-green);
      font-weight: bold;
    }

    &-primary {
      background-color: none;
      color: var(--content-primary);
      border: 1px solid var(--background-primary);
    }
  }
}
