html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  vertical-align: baseline;
}

html,
body {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-weight: normal;
  font-family: "SF Pro Display", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  outline: none;
}

img {
  vertical-align: middle;
}

button {
  margin: 0;
  padding: 0;
  background-color: #fff;
  border: 0;
  outline: none;
}

input {
  outline: none;
}

form {
  width: 100%;
}
