html {
  height: 100%;
}

* {
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 50px;
    background: rgba(var(--background-teal), 0.7);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgb(var(--background-teal));
  }
}

*:focus {
  outline: none;
}

body {
  height: 100%;
  background-color: var(--background-white);
  font-size: 16px;
  line-height: 1.5;
  color: var(--content-primary);
  margin: 0;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

#__next {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

// customs
.slug-page-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
