.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 5px 0;
}

.input {
  padding: 7px 15px;
  color: var(--content-black);
  outline-color: var(--border-primary);
  background-color: var(--background-white);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 22px;
  border-radius: 5px;
  font-family: inherit;
  border: 1px solid var(--border-primary);
  width: 100%;

  &::placeholder {
    color: var(--content-gray);
  }

  &Error {
    border-color: var(--border-red);
  }
}

.error {
  margin: 0;
  color: var(--content-red);
}
