.rating {
  position: relative;
  display: flex;
  align-items: center;
  gap: 5px;

  &Error svg {
    stroke: var(--border-red);
  }
}

.star {
  transition: all 0.5s ease;

  &:not(.starFilled) {
    svg {
      transition: all 0.5s ease;
      fill: #e2e2e2;
    }
  }

  &:hover svg {
    fill: var(--background-primary-hover);
  }

  &Filled svg {
    fill: var(--background-primary-hover);
  }

  &Editable {
    cursor: pointer;
  }
}

.error {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: var(--content-red);
}
