.menu {
  &Item {
    margin-bottom: 18px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 14px;
    font-weight: 500;
    font-size: 18px;
    line-height: 25px;
    color: var(--content-black);

    &Active,
    &:hover {
      color: var(--content-primary);

      svg {
        fill: var(--background-primary);
      }
    }

    svg {
      transition: all 0.5s ease;
    }

    &Link {
      position: absolute;
      inset: 0;
    }
  }
}

.accordion {
  padding: 0 8px 0 16px;
  border-right: 1px solid #e5e5e5;

  &WrapperOpen {
    border-bottom: 1px dashed rgba(0, 0, 0, 0.1);

    &:first-child {
      border-top: 1px dashed rgba(0, 0, 0, 0.1);
    }
  }

  &Name {
    position: relative;
    z-index: 20;
    margin-top: 0;
    margin-bottom: 10px;
    cursor: pointer;
    text-transform: uppercase;
    color: var(--content-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    width: 100%;
    padding: 20px 16px;
    border-radius: 18px;
    background-color: rgba(245, 245, 204, 0.4);
    border: 1px solid #e5e5e5;
  }

  &Item {
    position: relative;
    z-index: 2;
    cursor: pointer;
    color: var(--border-gray-light);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
    display: block;
    padding: 5px;
    padding-left: 20px;
    z-index: 9;
    transition: all 0.4s ease;

    &Active,
    &:hover {
      color: var(--content-primary);
    }

    &Link {
      position: absolute;
      z-index: 1;
      inset: 0;
    }
  }
}
