@import "@/assets/styles/base/responsive";

.layout {
  flex-grow: 1;
  display: grid;
  grid-template-columns: auto minmax(320px, 1160px) 360px auto;
  grid-template-rows: max-content auto max-content;
  grid-template-areas:
    "header header header header"
    ". body sidebar ."
    "footer footer footer footer";

  @media only screen and (max-width: $tablet-medium) {
    grid-template-areas: "header" "body" "footer";
    grid-template-rows: max-content auto max-content;
    grid-template-columns: minmax(320px, 1fr);
  }

  &Header {
    grid-area: header;
    display: none;

    @media only screen and (max-width: $tablet-medium) {
      display: block;
    }
  }

  &Main {
    grid-area: body;
    padding: 20px;
  }

  &Sidebar {
    grid-area: sidebar;

    @media only screen and (max-width: $tablet-medium) {
      display: none;
    }
  }

  &Footer {
    grid-area: footer;
  }
}
