.card {
  border-radius: 5px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.05);

  &--white {
    background-color: var(--background-white);
  }

  &--primary {
    background-color: rgba(255, 255, 255, 0.22);
  }
}
