.heading {
  margin: 0;
  line-height: 1.35;

  &--h1 {
    @extend .heading;
    font-weight: 600;
    font-size: 26px;
  }

  &--h2 {
    @extend .heading;
    font-size: 22px;
    font-weight: 500;
  }

  &--h3 {
    @extend .heading;
    font-size: 20px;
    font-weight: 600;
  }
}
