.sidebar {
  position: relative;
  display: grid;
  align-content: flex-start;

  &Inner {
    padding: 10px 20px 10px 2px;
    height: 100vh;
    position: sticky;
    top: 10px;
    overflow-y: auto;
  }
}
