.sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;
  user-select: none;

  .sortIcon {
    display: none;
  }

  span {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
  }
}

.active {
  font-weight: bold;
  color: var(--border-primary);

  .sortIcon {
    display: block;
    margin-right: 8px;
  }
}
