.sort {
  display: inline-block;
  display: grid;
  grid-template-columns: auto auto;
  gap: 40px;

  &Icon {
    display: none;
  }

  span {
    display: grid;
    grid-template-columns: 20px 1fr;
    align-items: center;
    gap: 8px;
    cursor: pointer;
  }

  &.active {
    font-weight: bold;
    color: var(--border-primary);

    .sortIcon {
      display: block;
      margin-right: 8px;
    }
  }
}
